<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60492041452-08hntnr5sc16ou1g3gshcha636proh50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60492041452-08hntnr5sc16ou1g3gshcha636proh50</string>
	<key>API_KEY</key>
	<string>AIzaSyAnqCQ-6aHh69Auhu7SAixFSFLXD1zptzI</string>
	<key>GCM_SENDER_ID</key>
	<string>60492041452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noa.supplier</string>
	<key>PROJECT_ID</key>
	<string>noamarket-e78fa</string>
	<key>STORAGE_BUCKET</key>
	<string>noamarket-e78fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60492041452:ios:512368ebe79cb3708269c9</string>
</dict>
</plist>